<header>
  <h1>Tech Blog</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      {{#if loggedIn}}
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/logout">Logout</a></li>
      {{else}}
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Sign Up</a></li>
      {{/if}}
    </ul>
  </nav>
</header>
