<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Tech Blog</title>
  <script src="/js/user/signup.js" defer></script>
  <script src="/js/user/login.js" defer></script>
  <script src="/js/user/logout.js" defer></script>
  <script src="/js/post/new-post.js" defer></script>
  <script src="/js/post/edit-post.js" defer></script>
  <script src="/js/post/delete-post.js" defer></script>
  <script src="/js/comment/new-comment.js" defer></script>
  <script src="/js/comment/edit-comment.js" defer></script>
  <script src="/js/comment/delete-comment.js" defer></script>
</head>
<body>
  {{{body}}}
</body>
</html>
